# UN Data Analysys

### Analysis on UN Data comparing gdp per capita and Unternet usage

# Import Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Formatting

In [2]:
%matplotlib inline

## Load Data

#### 5.Using the pandas read_csv() function, read the GDP dataset into your notebook as a DataFrame called gdp_df. Take a look at the first 6 rows.

In [3]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')

In [4]:
print(gdp_df.head(6))

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  1734.723214              NaN
1     Afghanistan  2017  1758.465636              NaN
2     Afghanistan  2016  1757.023490              NaN
3     Afghanistan  2015  1766.593077              NaN
4     Afghanistan  2014  1795.735834              NaN
5     Afghanistan  2013  1807.762344              NaN

#### 6. Repeat for the internet use dataset. Call this DataFrame internet_df. Take a look at the first six rows.

##### Fixed: ParserError: Error tokenizing data python

In [5]:
internet_df = pd.read_csv('../data/internet_use.csv',nrows=4495)

In [6]:
internet_df = pd.read_csv('../data/internet_use.csv', header=None,sep='\n')
internet_df = internet_df[0].str.split(',', expand=True)

In [7]:
internet_df.head(6)

,0,1,2,3,4,5,6
0,Country or Area,"""Year""","""Value""","""Value Footnotes""",None,None,None
1,Afghanistan,"""2014""","""6.39""","""""",None,None,None
2,Afghanistan,"""2013""","""5.9""","""""",None,None,None
3,Afghanistan,"""2012""","""5.45454545454545""","""""",None,None,None
4,Afghanistan,"""2011""","""5""","""""",None,None,None
5,Afghanistan,"""2010""","""4""","""""",None,None,None

#### 7.Look at the shape of each dataframe - how many rows, how many columns.

In [8]:
print(gdp_df.shape)

(6731, 4)

In [9]:
print(internet_df.shape)

(4682, 7)

#### 8.Take a look at the data types for the columns in each table.

In [10]:
type(gdp_df)

pandas.core.frame.DataFrame

In [11]:
gdp_df.dtypes

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [12]:
internet_df.dtypes

0    object
1    object
2    object
3    object
4    object
5    object
6    object
dtype: object

#### 9.Take a look at the last 10 rows of each dataset in turn.

In [13]:
gdp_df.tail(10)

,Country or Area,Year,Value,Value Footnotes
6721,Zimbabwe,1997,3036.422224,NaN
6722,Zimbabwe,1996,2985.856605,NaN
6723,Zimbabwe,1995,2736.486436,NaN
6724,Zimbabwe,1994,2768.309953,NaN
6725,Zimbabwe,1993,2572.870395,NaN
6726,Zimbabwe,1992,2591.007534,NaN
6727,Zimbabwe,1991,2906.272849,NaN
6728,Zimbabwe,1990,2819.549467,NaN
6729,footnoteSeqID,Footnote,NaN,NaN
6730,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [14]:
internet_df.tail(10)

,0,1,2,3,4,5,6
4672,171,"""Internet Dial-up customers.""",None,None,None,None,None
4673,172,"""Population age 16+ using the Internet in the ...",None,None,None,None,None
4674,173,"""Population age 16+ using internet in the last...",None,None,None,None,None
4675,174,"""U.S. Census Bureau",Table 2. Reported Internet Usage for Individu...,by State: 2012 [http://www.census.gov/hhes/c...,None,None,None
4676,175,"""Includes individuals 3 years and older""",None,None,None,None,None
4677,176,"""NTIA/CPS survey.""",None,None,None,None,None
4678,177,"""Pew Internet Project","""Internet",Broadband and cell phone statistics,” January 5,2010,http://www.pewinternet.org/~/media//Files/Rep...
4679,178,"""Estimated based on Survey's results. Populati...",None,None,None,None,None
4680,179,"""Preliminary. Country estimate.""",None,None,None,None,None
4681,180,"""The methodology used to estimated the figure ...",000,schools and colleges connected to the interne...,this figure is not inclusive of mobile intern...,None,None

#### 10. Drop the 'value footnotes' data (column) from both datasets. Check that this worked as expected.

In [15]:
del gdp_df['Value Footnotes']

In [16]:
gdp_df

     Country or Area                                      Year        Value
0        Afghanistan                                      2018  1734.723214
1        Afghanistan                                      2017  1758.465636
2        Afghanistan                                      2016  1757.023490
3        Afghanistan                                      2015  1766.593077
4        Afghanistan                                      2014  1795.735834
...              ...                                       ...          ...
6726        Zimbabwe                                      1992  2591.007534
6727        Zimbabwe                                      1991  2906.272849
6728        Zimbabwe                                      1990  2819.549467
6729   footnoteSeqID                                  Footnote          NaN
6730               2  Excludes South Sudan after July 9, 2011.          NaN

[6731 rows x 3 columns]

In [17]:
cols = [3]
internet_df.drop(internet_df.columns[cols],axis=1,inplace=True)

In [18]:
internet_df

,0,1,2,4,5,6
0,Country or Area,"""Year""","""Value""",None,None,None
1,Afghanistan,"""2014""","""6.39""",None,None,None
2,Afghanistan,"""2013""","""5.9""",None,None,None
3,Afghanistan,"""2012""","""5.45454545454545""",None,None,None
4,Afghanistan,"""2011""","""5""",None,None,None
...,...,...,...,...,...,...
4677,176,"""NTIA/CPS survey.""",None,None,None,None
4678,177,"""Pew Internet Project","""Internet",” January 5,2010,http://www.pewinternet.org/~/media//Files/Rep...
4679,178,"""Estimated based on Survey's results. Populati...",None,None,None,None
4680,179,"""Preliminary. Country estimate.""",None,None,None,None
4681,180,"""The methodology used to estimated the figure ...",000,this figure is not inclusive of mobile intern...,None,None

#### 11.Change the columns for the GDP Per Capita data frame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.